<div class="card">
    <p-toolbar>
        <div>
            <label for="seljahr" class="mr-1">Jahr wählen</label>
            <p-dropdown id="seljahr" [options]="selJahre" [(ngModel)]="selJahr" (onChange)="chgJahr()"></p-dropdown>
        </div>
        <p-button icon="pi pi-export" (click)="export()" label="Exportieren"></p-button>
    </p-toolbar>
    <p-tabView>
        <p-tabPanel header="Bilanz">
            <p-splitter [panelSizes]="[50, 50]" styleClass="mb-1 border-none">
                <ng-template pTemplate>
                    <div class="card" style="width: 100%;">
                        <h2>Aktiven</h2>
                        <div class="grid">
                            <div class="col-6 font-bold">Konto
                            </div>
                            <div class="col-6 font-bold" style="text-align: right;">Betrag
                            </div>
                            <p-dataView #aktiv [value]="lstAktivNodes" class="border-none" layout="list">
                                <ng-template let-data pTemplate="list">
                                    <div class="grid grid-nogutter border-none">
                                        <div *ngFor="let item of data" class="col-12">
                                            <div class="flex flex-column sm:flex-row sm:align-items-center">
                                                <div class="col-12 md:col-1">
                                                    <div *ngIf="item.order > 0" [class]="item.$css">{{ item.order }}
                                                    </div>
                                                </div>
                                                <div class="col-12 md:col-5">
                                                    <div [class]="item.$css">{{ item.name }}</div>
                                                </div>
                                                <div class="col-12 md:col-6">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.amount |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate=>
                    <div class="card" style="width: 100%;">
                        <h2>Passiven</h2>
                        <div class="grid">
                            <div class="col-6 font-bold">Konto
                            </div>
                            <div class="col-6 font-bold" style="text-align: right;">Betrag
                            </div>
                            <p-dataView #passiv [value]="lstPassivNodes" class="border-none" layout="list">
                                <ng-template let-data pTemplate="list">
                                    <div class="grid grid-nogutter border-none">
                                        <div *ngFor="let item of data" class="col-12">
                                            <div class="flex flex-column sm:flex-row sm:align-items-center">
                                                <div class="col-12 md:col-1">
                                                    <div *ngIf="item.order > 0" [class]="item.$css">{{ item.order }}
                                                    </div>
                                                </div>
                                                <div class="col-12 md:col-5">
                                                    <div [class]="item.$css">{{ item.name }}</div>
                                                </div>
                                                <div class="col-12 md:col-6">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.amount |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </div>
                    </div>
                </ng-template>
            </p-splitter>
        </p-tabPanel>
        <p-tabPanel header="Erfolgsrechnung">
            <p-splitter [panelSizes]="[50, 50]" styleClass="mb-1">
                <ng-template pTemplate>
                    <div class="card" style="width: 100%;">
                        <h2>Aufwand</h2>
                        <div class="grid">
                            <div class="col-6 font-bold">Konto
                            </div>
                            <div class="col-2 font-bold" style="text-align: right;">Betrag
                            </div>
                            <div class="col-2 font-bold" style="text-align: right;">Budget
                            </div>
                            <div class="col-2 font-bold" style="text-align: right;">Diff
                            </div>
                            <p-dataView #aufwand [value]="lstAufwandNodes" class="border-none" layout="list">
                                <ng-template let-data pTemplate="list">
                                    <div class="grid grid-nogutter border-none">
                                        <div *ngFor="let item of data" class="col-12">
                                            <div class="flex flex-column sm:flex-row sm:align-items-center">
                                                <div class="col-12 md:col-1">
                                                    <div *ngIf="item.order > 0" [class]="item.$css">{{ item.order }}
                                                    </div>
                                                </div>
                                                <div class="col-12 md:col-5">
                                                    <div [class]="item.$css">{{ item.name }}</div>
                                                </div>
                                                <div class="col-12 md:col-2">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.amount |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                                <div class="col-12 md:col-2">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.budget |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                                <div class="col-12 md:col-2">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.diff |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate=>
                    <div class="card" style="width: 100%;">
                        <h2>Ertrag</h2>
                        <div class="grid">
                            <div class="col-6 font-bold">Konto
                            </div>
                            <div class="col-2 font-bold" style="text-align: right;">Betrag
                            </div>
                            <div class="col-2 font-bold" style="text-align: right;">Budget
                            </div>
                            <div class="col-2 font-bold" style="text-align: right;">Diff
                            </div>
                            <p-dataView #ertrag [value]="lstErfolgNodes" class="border-none" layout="list">
                                <ng-template let-data pTemplate="list">
                                    <div class="grid grid-nogutter border-none">
                                        <div *ngFor="let item of data" class="col-12">
                                            <div class="flex flex-column sm:flex-row sm:align-items-center">
                                                <div class="col-12 md:col-1">
                                                    <div *ngIf="item.order > 0" [class]="item.$css">{{ item.order }}
                                                    </div>
                                                </div>
                                                <div class="col-12 md:col-5">
                                                    <div [class]="item.$css">{{ item.name }}</div>
                                                </div>
                                                <div class="col-12 md:col-2">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.amount |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                                <div class="col-12 md:col-2">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.budget |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                                <div class="col-12 md:col-2">
                                                    <div style="text-align: right;" [class]="item.$css">{{ item.diff |
                                                        number:
                                                        '1.2-2' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </div>
                    </div>
                </ng-template>
            </p-splitter>
        </p-tabPanel>
    </p-tabView>
</div>