**/.dockerignore
**/.env.dev
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/test
**/.vscode
**/dist
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/*.xlsx
**/*.pdf
