.vscode/settings.json
package-lock.json
logs/*.txt
*.log
~$*.xlsx
public/exports/*
!public/exports/Meisterschaft-Vorlage.xlsx
*.zip
.DS_Store
public/.DS_Store
public/uploads/*
node_modules
documents/*
patchDB.sql
