::ng-deep .p-datatable .p-datatable-header {
    background-color: transparent !important;
}

::ng-deep .p-datatable>.p-datatable-wrapper {
    border: 1px solid #007ad9;
    border-width: 1px 1px 0 1px;
}