<p-toast key="local"></p-toast>
<div class="mb-1">
    <button pButton *ngIf="checkFiltering()" label="Clear" class="p-button-secondary p-button-outlined mb-1"
        icon="pi pi-filter-slash" (click)="clear(basetable)"></button>
    <button pButton *ngFor="let but of tableToolbar; index as ind" [label]="but.label!" [icon]="but.icon!"
        [ngClass]="but.btnClass! + ' mb-1'" (click)="clickOnToolbar(ind)" [disabled]="isButtonDisabled(ind)"></button>
</div>
<p-table #basetable [columns]="tableOptions" styleClass=" p-datatable-striped" [value]="tableData"
    selectionMode="single" [(selection)]="selectedRecord" (onFilter)="filterEvent($event)" dataKey="id"
    sortMode="multiple" [scrollHeight]="objHeight$" [scrollable]="true" [tableStyle]="{'min-width': '50rem'}"
    (window:resize)="onResizeHandler()" [stateKey]="localStorage" stateStorage="local">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumnDisabled]="!col.sortable" [pSortableColumn]="col.field">
                {{col.header}}<p-sortIcon field="col.field" *ngIf="col.sortable"></p-sortIcon>
                <p-columnFilter *ngIf="col.filtering" [field]="col.field" [type]="col.filter"
                    display="menu"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
        <tr [pSelectableRow]="data" (dblclick)="selectData(data)">
            <td *ngFor="let col of columns">
                <div *ngIf="col.format === false && col.filter === 'boolean'">
                    <i *ngIf="data[col.field]" class="pi pi-check mr-4 p-text-secondary"></i>
                </div>
                <div *ngIf="col.format === false && col.filter === 'date'">{{data[col.field] | date: 'dd.MM.yyyy'}}
                </div>
                <div *ngIf="col.format && formatFunction">{{formatFunction(col.field,data[col.field])}}</div>
                <div *ngIf="col.format === false && col.filter !== 'boolean' && col.filter !== 'date'">
                    {{data[col.field]}}</div>
            </td>
            <td *ngIf="editable">
                <button type="button" pButton pRipple icon="pi pi-file-edit" (click)="editData(data)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [colSpan]="tableOptions.length">Keine Datensaätze gefunden.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            {{tableData ? tableData.length : 0 }} Datensätze.
        </div>
    </ng-template>
</p-table>