<p-toast position="top-center"></p-toast>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/AMCfarbigKlein.gif" alt="logo">
        <span id="header">Auto-Moto-Club Swissair</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <span *ngIf="isLoggedIn()" class="mt-4">{{getLoggedinUser()}}</span>
        <button #accBtn class="p-link layout-topbar-button" (click)="clickUser()" >
            <i class="pi pi-user" [style]="isLoggedIn() ? 'color: green' : 'color: black'"></i>            
        </button>        
        <p-contextMenu #cmUser *ngIf="isLoggedIn()" [target]="accBtn" [model]="userItems" triggerEvent="click"></p-contextMenu>
    </div>
</div>