<div class="card">
    <div class="field grid">
    <label for="uploadfiles" class="col-12 md:col-2 md:mb-0">Anhänge:</label>
    <div class="col-12 md:col-10">
        <p-fileUpload id="uploadfiles" name="uploadfiles[]" [multiple]="true" [maxFileSize]="500 * 1024 * 1024"
            [auto]="true" chooseLabel="Wählen" [showCancelButton]="false" [showUploadButton]="false"
            accept="application/pdf" [customUpload]="true" (uploadHandler)="prepareFiles($event.files)">
            <ng-template pTemplate="file">
                <div *ngFor="let file of uploadFiles; index as ind" class="p-fileupload-row ng-star-inserted">
                    <div class="p-fileupload-filename">{{ file.name }}</div>
                    <div>{{ file.size }}</div>
                    <div>
                        <button type="button" icon="pi pi-times" pbutton="" (click)="uploadFiles.splice(ind,1)"
                            class="p-element p-button p-component p-button-icon-only"
                            ng-reflect-icon="pi pi-times"><span class="p-button-icon pi pi-times"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
</div>
</div>
<p-toolbar>
    <p-button icon="pi pi-back" (click)="back()" label="Abbruch" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-send" (click)="save()" label="Speichern" styleClass="p-button-text"></p-button>
</p-toolbar>