<div class="card">
    <div class="field grid">
    <label for="uploadfiles" class="col-12 md:col-2 md:mb-0">Anhänge:</label>
    <div class="col-12 md:col-10">
        <p-fileUpload id="uploadfiles" name="uploadfiles[]" [multiple]="true" [maxFileSize]="500 * 1024 * 1024"
            [auto]="true" chooseLabel="Wählen" [showCancelButton]="false" [showUploadButton]="false" mode="advanced"
            accept="application/pdf" [customUpload]="true" (uploadHandler)="prepareFiles($event.files)">
        </p-fileUpload>
    </div>
</div>
</div>
<p-toolbar>
    <p-button icon="pi pi-back" (click)="back()" label="Abbruch" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-send" (click)="save()" label="Speichern" styleClass="p-button-text"></p-button>
</p-toolbar>