::ng-deep { /* to penetrate <ngx-editor> CSS styling */

    .NgxEditor {
      height: 150px;
      overflow-y: scroll;
    }
  
    .NgxEditor__Content {
      min-height: 150px; /* make all of the editor area clickable */
    }
    .p-toolbar {
        background-color: transparent !important;
    }}
  