<p-toast key="local"></p-toast>
<p-splitter [panelSizes]="[40, 60]" styleClass="mb-1">
    <ng-template pTemplate>
        <div class="card border-0" style="width: 100%; height: 100%;" id="table-box">
            <div class="row col-md-12 mb-3 p-1 border-1 border-round">
                <label for="gaeste" class="mr-2 mb-1">Gäste</label>
                <input type="number" id="gaeste" class="wurf mb-1" [(ngModel)]="anlass.gaeste">
                <button pButton type="button" label="Sichern" icon="pi pi-save"
                    class="p-button-secondary p-button-outlined ml-6" (click)="saveGaeste()"></button>
            </div>
            <div class="row col-md-12">
                <p-table styleClass=" p-datatable-striped" [value]="lstMeisterschaft" selectionMode="single"
                    [(selection)]="selMeisterschaft" dataKey="id" [scrollHeight]="objHeight$" [virtualScroll]="true"
                    [virtualScrollItemSize]="36" (window:resize)="onResizeHandler()"
                    [tableStyle]="{'min-width': '100%'}" (onRowSelect)="selTeilnehmerTable()">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Teilnehmer
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr style="height:36px" [pSelectableRow]="data">
                            <td>{{data.punkte}} - {{data.teilnehmer.fullname}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            {{lstMeisterschaft ? lstMeisterschaft.length : 0 }} Teilnehmer
                        </div>
                    </ng-template>
                </p-table>
            </div>
            <div class="row col-md-12 mt-1">
                <button pButton type="button" label="Löschen" icon="pi pi-file-delete"
                    class="p-button-secondary p-button-outlined" (click)="deleteEntry()"
                    [disabled]="!selMeisterschaft"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="card" style="width: 100%; height: 100%;">
            <form [formGroup]="fgMeisterschaft" autocomplete="off">
                <div class="formgroup-inline">
                    <div class="field pb-2">
                        <label for="teilnehmer" class="pr-2">Teilnehmer wählen</label>
                        <p-autoComplete #teilnehmername id="teilnehmername" formControlName="teilnehmername" 
                            [suggestions]="lstFilteredAdressen" (completeMethod)="searchTeilnehmer($event)"
                            field="fullname" [dropdown]="true" (onSelect)="selectTielnehmer($event)" [forceSelection]="true" >
                        </p-autoComplete>
                    </div>
                    <div class="field pb-2 col-12 md:col-12">
                        <label for="punkte" class="pr-2">Punkte</label>
                        <input type="number" id="punkte" formControlName="punkte" class="wurf input-styling">
                        <div *ngIf="punkte.invalid && (punkte.dirty || punkte.touched)" class="alert alert-danger">
                            <div *ngIf="punkte.errors?.['required'] || punkte.errors?.['min']">
                                Punkte müssen angegeben sein.
                            </div>
                            <div *ngIf="punkte.errors?.['max']">
                                Maximal 200 Punkte sind erlaubt
                            </div>
                        </div>
                    </div>
                    <div *ngIf="anlass.istkegeln">
                        <div class="field">
                            <label>Würfe</label>
                        </div>
                        <div class="field">
                            <input type="number" id="wurf1" formControlName="wurf1" [min]="0" [max]="9"
                                class="wurf input-styling pr-1" (input)="inputWurf(1)">
                            <input type="number" id="wurf2" formControlName="wurf2" [min]="0" [max]="9"
                                class="wurf input-styling pr-1" (input)="inputWurf(2)">
                            <input type="number" id="wurf3" formControlName="wurf3" [min]="0" [max]="9"
                                class="wurf input-styling pr-1" (input)="inputWurf(3)">
                            <input type="number" id="wurf4" formControlName="wurf4" [min]="0" [max]="9"
                                class="wurf input-styling pr-1" (input)="inputWurf(4)">
                            <input type="number" id="wurf5" formControlName="wurf5" [min]="0" [max]="9"
                                class="wurf input-styling pr-1" (input)="inputWurf(5)">
                            <input type="number" id="zusatz" formControlName="zusatz" class="wurf input-styling pr-1">
                        </div>
                        <div *ngIf="wurf1.invalid && (wurf1.dirty || wurf1.touched)" class="alert alert-danger">
                            <div *ngIf="wurf1.errors?.['min']">
                                Wurf darf nicht kleiner als 0 sein.
                            </div>
                            <div *ngIf="wurf1.errors?.['max']">
                                Maximal 9 je Wurf sind erlaubt
                            </div>
                        </div>
                        <div *ngIf="wurf2.invalid && (wurf2.dirty || wurf2.touched)" class="alert alert-danger">
                            <div *ngIf="wurf2.errors?.['min']">
                                Wurf darf nicht kleiner als 0 sein.
                            </div>
                            <div *ngIf="wurf2.errors?.['max']">
                                Maximal 9 je Wurf sind erlaubt
                            </div>
                        </div>
                        <div *ngIf="wurf3.invalid && (wurf3.dirty || wurf3.touched)" class="alert alert-danger">
                            <div *ngIf="wurf3.errors?.['min']">
                                Wurf darf nicht kleiner als 0 sein.
                            </div>
                            <div *ngIf="wurf3.errors?.['max']">
                                Maximal 9 je Wurf sind erlaubt
                            </div>
                        </div>
                        <div *ngIf="wurf4.invalid && (wurf4.dirty || wurf4.touched)" class="alert alert-danger">
                            <div *ngIf="wurf4.errors?.['min']">
                                Wurf darf nicht kleiner als 0 sein.
                            </div>
                            <div *ngIf="wurf4.errors?.['max']">
                                Maximal 9 je Wurf sind erlaubt
                            </div>
                        </div>
                        <div *ngIf="wurf5.invalid && (wurf5.dirty || wurf5.touched)" class="alert alert-danger">
                            <div *ngIf="wurf5.errors?.['min']">
                                Wurf darf nicht kleiner als 0 sein.
                            </div>
                            <div *ngIf="wurf5.errors?.['max']">
                                Maximal 9 je Wurf sind erlaubt
                            </div>
                        </div>
                        <div class="field pb-2">
                            <label for="total" class="pr-2">Total</label>
                            <input type="number" id="total" formControlName="total" class="wurf input-styling pr-1">
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-12 md:mb-0">
                    <button pButton type="submit" label="Sichern" icon="pi pi-save"
                        [disabled]="teilnehmername.value === null"
                        class="p-button-primary p-button-outlined" id="save" (click)="save()"></button>
                        <button pButton type="reset" label="Reset" icon="pi pi-reset"
                        [disabled]="teilnehmername.value === null"
                        class="p-button-secondary p-button-outlined" id="reset" (click)="reset()"></button>
                </div>
            </form>
        </div>
    </ng-template>
</p-splitter>
<p-toolbar>
    <button pButton type="button" label="Zurück" icon="pi pi-back" class="p-button-secondary p-button-outlined"
        (click)="back()"></button>
</p-toolbar>